.a-recuperar{
    margin-left: 55%;
}

.div-img_1{
    position: absolute;
    width: 35%;
    min-height: 70%;
    background-image: url('../image/composicion-motocicleta.jpg');
    background-size: 160px, 150px;
    margin-left: 60%;
}

.div-img_2{
    position: absolute;
    width: 35%;
    min-height: 70%;
    background-image: url('../image/personaje-mecanico-dibujos-animados_119589-84.jpg');
    background-size: 156px, 150px;
    margin-left: 60%;
}

.div-img_3{
    position: absolute;
    width: 35%;
    min-height: 70%;
    background-image: url('../image/herramientas_24908-54114.jpg');
    background-size: 130px, 150px;
    margin-left: 60%;
}

.div-img_4{
    position: absolute;
    width: 35%;
    min-height: 70%;
    background-image: url('../image/500_F_278445406_cktu3VWEmikDKQd2gkbv4sIQms6mX0mz.jpg');
    background-size: 155px, 150px;
    margin-left: 60%;
}

.div-img_5{
    position: absolute;
    width: 40%;
    min-height: 43%;
    background-image: url('../image/servicio-reparacion-mantenimiento-motocicletas_1150-43150.jpg');
    background-size: 180px, 150px;
    margin-left: 55%;
}

.div-img_6{
    position: absolute;
    width: 40%;
    min-height: 43%;
    background-image: url('../image/folleto-informativo-uso-herramientas-manuales-dibujos-animados-flat-baner_81522-4023.jpg');
    background-size: 150px, 150px;
    margin-left: 55%;
}

.div-img_7{
    position: absolute;
    width: 35%;
    min-height: 70%;
    background-image: url('../image/gran-conjunto-imagenes-predisenadas-motocicleta-aislada-ilustraciones-planas-varios-tipos-motocicletas_1150-37322.jpg');
    background-size: 140px, 150px;
    margin-left: 60%;
}

.div-img_8{
    position: absolute;
    width: 29%;
    min-height: 70%;
    background-image: url('../image/ilustracion-personajes-arreglando-rueda-dentada_53876-40796.jpg');
    background-size: 120px, 150px;
    margin-left: 67%;
}

.div-img_9{
    position: absolute;
    width: 35%;
    min-height: 70%;
    background-image: url('../image/eliminados.jpg');
    background-size: 120px, 150px;
    margin-left: 60%;
}

.bg-button{
    background-color: #9c27b0;
}

.a-login{
    margin-left: 40%;
}

.form-group{
    width: 500px;
    margin-left: 15%;
}

.h1-usuarios{
    margin-top: 2%;
    margin-left: 38%;
}

.div-crear{
    margin-left: 22%;
}

.h1-crear-usuario{
    margin-left: 25%;
    margin-top: 2%;
}

.h1-gestionar{
    margin-left: 30%;
}

.h1-reparacion{
    margin-left: 5%;
}

.h1-seguimiento{
    margin-left: 40%;
    margin-top: 2%;
}

.h1-vehiculos{
    margin-left: 42%;
    margin-top: 2%;
}

.h1-vehiculos_man{
    margin-left: 33%;
    margin-top: 2%;
}

.h1-eliminados{
    margin-left: 38%;
    margin-top: 2%;
}

.contenedor > button{
    margin-left: 6%;
    margin-top: 3%;
    min-height: 170px;
    color: white;
    border-radius: 5px;
    text-align: left;
}

.h1-inicio{
    font-size: 320%;
}

input{
    border-radius: 5px;
}

select{
    border-radius: 5px;
    width: 95%;
}

textarea{
    border-radius: 10px;
    width: 75%;
}

#finalizar{
    margin-left: 15%;
    width: 71%;
}

#boton-borrar{
    margin-right: 60%;
}

#error{
    text-align: center;
    margin-left: 15%;
    width: 71%;
}

#table-usuarios{
    margin-left: 15%;
    width: 70%;
}